#title {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  }
  
  .container-fluid {
    padding: 3% 15% 9%;
  }
  
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.5;
    color: white;
  }
  
  h2
  {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
  }
  
  .iphone7 {
    width: 60%;
    transform: rotate(20deg);
    position: absolute;
    right: 15%;
  }
  
  
  @media (max-width: 1028px) {
  
  body {
    text-align: center;
  }
  
  
    .iphone7 {
      width: 60%;
      position: static;
      transform: rotate(0deg);
    }
  
  }
  
  
  .navigation {
    margin-bottom: 60px;
  }
  
  .download-button {
    margin: 5% 3% 5% 0;
  }
  
  .navbar {
    padding-left: 0;
  }
  
  .tincat {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .nav-item {
    margin-left: 20px;
  }
  
  .nav-link {
    font-size: 1.2rem;
  }
  
  /* Features */
  #features {
    text-align: center;
    background-color: white;
    position: relative;
  }
  
  .f1 {
    margin-bottom: 100px;
  }
  
  .fas {
    font-size: 4rem;
    color: #0c64ee;
    margin-bottom: 10px;
  }
  
  .fas:hover {
    color: #ff4c68;
  }
  
  .fontf {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
  }
  
  .pf {
    color: grey;
    width: 60%;
    margin: auto;
  }
  
  .forthefeatures {
    padding-top: 150px;
    margin-bottom: 100px;
  }
  
  
  /* Testimonial Sections */
  
  
  
  #testimonials {
  
    text-align: center;
    background-image: linear-gradient(to right bottom, #d383b2, #ba77af, #9e6daa, #8164a4, #615b9c, #4e64a5, #356cab, #0074ae, #008fc0, #00aacc, #00c4d2, #4aded4);
    color: white;
  }
  
  .carousel-item {
      padding: 7% 15%;
  }
  
  
  
  .testimonial-image{
    width: 10%;
    border-radius: 50%;
  }
  
  
  #press{
    background-color:#011313;
    text-align: center;
    padding-bottom: 3%;
  }
  
  .press-logo {
    width: 7%;
    height: 3%;
    margin:20px 20px 50px;
  }
  
  
  /* Pricing */
  
  #pricing{
    padding:100px;
    text-align: center;
  }
  
  .padding-column {
    padding: 2% 3%;
  }
  
  
  /* Call to Action */
  
  #cta {
  text-align: center;
  padding: 9% 19%;
  background-image: linear-gradient(to right bottom, #32f854, #00f296, #00e9c4, #00dce0, #00cde7, #00c0ef, #00b3f4, #00a3f4, #008ffc, #0079ff, #005fff, #093df6);
  }
  
  
  .ctah3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.5;
    color: white;
  }
  
  .ctabtn {
   margin-top: 5%;
   margin-left: 2%;
  }
  
  
  /* Footer */
  
  
  #footer {
   text-align: center;
  padding: 5% 10%;
  }
  
  .copyright {
    color: grey;
  }
  
  
  .footericon {
    margin-left: 1%;
    padding-bottom:2%;
  }